.weather-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.weather-block__info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    min-width: 50px;
    flex-wrap: wrap;
}

.info-block__temp {
    text-align: center;
    width: 50%;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-block__temp p {
    margin: 0;
    font-size: 40px;
}


.info-block__wind {}

.info-block__wind p {
    margin: 0;
    font-size: 15px;
    color: #6f6f6f;
}

.weather-block__time-place-block {
    text-align: end;
}

.weather-block__time-place-block h2 {
    font-size: 30px;
    margin-top: 0;
}

.weather-block__time-place-block p {
    font-size: 20px;
    color: #6f6f6f;
    margin: 0;
}


.info-block-temp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}